.app {
    flex-basis: 600px;
    margin: 20px;
    padding: 5px 40px;
    border-radius: 10px;
    box-shadow: -35px 35px 25px black;
    background: linear-gradient(to right, #ffffca, #ffff89, #ffffca, #ffff89, #ffffca);
    background-size: 200% 100%;
    max-width: 550px;
    min-height: 400px;
    animation: wave 5s linear infinite;
}

@keyframes wave {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 300% 0;
    }
}